/* Fuentes personalizadas  */

@font-face {
	font-family: 'Itim';
	src: url('../fonts/itim/Itim-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Handlee';
	src: url('../fonts/handlee/Handlee-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Inter';
	src: url('../fonts/inter/Inter-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Inter Medium';
	src: url('../fonts/inter/Inter-Medium.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Work Sans';
	src: url('../fonts/work_sans/WorkSans-Regular.ttf');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Work Sans';
	src: url('../fonts/work_sans/WorkSans-Italic.ttf');
	font-weight: normal;
	font-style: italic;
}

@font-face {
	font-family: 'Work Sans';
	src: url('../fonts/work_sans/WorkSans-Bold.ttf');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Work Sans';
	src: url('../fonts/work_sans/WorkSans-BoldItalic.ttf');
	font-weight: bold;
	font-style: italic;
}

/* Valores a elementos generales */

:root {
	--default-color-theme: #1aa11e;
	--default-border-color: rgb(26 161 30 / 25%);
	--default-border-radius: 1.375rem;
	--default-btn-bg-color: #80f384;
	--default-btn-hover-bg-color: #acffae;
	--default-btn-focus-bg-color: #acffae;
	--default-btn-border-color: #46ab46;
	--default-element-background-color: #80f3842b;
}

body {
	font-family: 'Inter';
}

a{
	color: var(--default-color-theme);
	text-decoration: none;
}

#root {
	min-height: 100vh;
}

#root:before {
	content: '';
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: url('../img/background.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	filter: grayscale(1);
	opacity: 0.1;
	z-index: -1;
}

/* Clases propias */

.anonymous-layout {
	position: relative;
	text-align: center;
	top: 50%;
	transform: translateY(-50%);
}

.anonymous-layout > h1 {
	font-family: 'Handlee';
}

.anonymous-layout > h1 > i {
	font-size: 70%;
}

.anonymous-layout > #search_wrapper {
	left: 50%;
	transform: translateX(-50%);
}

@media (max-width: 575px) {
	.anonymous-layout > #search_wrapper {
		width: 90%;
	}

	#authentication_wrapper {
		width: 100%;
	}
}

@media (min-width: 576px) and (max-width: 991px) {
	.anonymous-layout > #search_wrapper {
		width: 75%;
	}

	#authentication_wrapper {
		width: 70%;
	}
}

@media (min-width: 992px) {
	.anonymous-layout > #search_wrapper {
		width: 50%;
	}

	#authentication_wrapper {
		width: 40%;
	}
}

#search_button {
	position: absolute;
	top: 0rem;
	right: 0.4rem;
	border: 0;
	background: none;
	z-index: 3;
	color: dimgray;
}

#search_button > i {
	font-size: x-large;
}

#authentication_wrapper {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 1rem;
	/*box-shadow: 0px 0px 4px 0rem rgb(20 22 25 / 40%);*/
	box-shadow: 0px 0px 0px 0.5rem var(--default-border-color);
}

.overlay-blurred {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	backdrop-filter: blur(4px);
}

/* Cambios a clases de Bootstrap */

/*#search_wrapper > .form-control {
	border-color: dimgray;
}*/

#search_wrapper > .form-control:focus {
	border-color: dimgray;
	box-shadow: 0px 1px 0 0rem rgb(20 22 25 / 40%);
}

.form-control {
	border-radius: var(--default-border-radius) !important;
}

.form-control:focus, .form-check-input:focus {
	border-color: var(--default-color-theme);
	box-shadow: 0 0 0 0.15rem var(--default-border-color);
}

.form-check-input:checked {
    background-color: var(--default-color-theme);
    border-color: var(--default-color-theme);
}

.btn-primary {
	background-color: var(--default-btn-bg-color);
    border-color: var(--default-btn-border-color);
    color: black;
    box-shadow: 0px 0px 2px 0px rgb(20 22 25 / 20%);
}

.btn-primary:hover {
	background-color: var(--default-btn-hover-bg-color);
	border-color: var(--default-btn-border-color);
	color: black;
}

.btn:focus {
	background-color: var(--default-btn-focus-bg-color);
	border-color: var(--default-btn-border-color);
	color: black;
	box-shadow: none !important;
}

.navbar > div {
	/*background-color: var(--default-element-background-color);*/
	border-radius: var(--default-border-radius);
}

.navbar-brand, .navbar-nav {
	font-size: x-large;
}

.nav-link {
	color: black;
}

.nav-text-username {
	width: 114px;
	overflow: hidden;
	text-overflow: ellipsis;
}

.nav-profile-picture {
	width: 1.5rem;
	height: 1.5rem;
	border-radius: var(--default-border-radius);
}

.navbar-brand:hover, .nav-link:hover {
	color: var(--default-color-theme);
}

/*.nav-pills .nav-link.active {
	background-color: var(--default-color-theme);
}*/

.nav-link.active {
	background-color: transparent !important;
    border-bottom: 2px solid var(--default-color-theme);
    border-radius: unset;
    color: black !important;
    font-weight: bold;
}

/* Columna izquierda */

.user-information, .post-thumbnails {
	text-align: center;
	/*padding-top: 1.5rem;*/
	padding-bottom: 1.5rem;
}

.user-information > img {
	display: block;
	border-radius: 50%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.statistics-wrapper {
	display: flex;
	justify-content: center;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}

.statistics-wrapper > div:nth-child(odd) {
	width: 30%;
}

.statistics-wrapper > div:nth-child(even) {
	width: 35%;
}

.post-thumbnails > * {
	padding-top: calc(var(--bs-gutter-x) * .5);
	padding-bottom: calc(var(--bs-gutter-x) * .5);
}

.post-thumbnails img {
	width: 300px;
	height: 300px;
}